
body {
    
}

.axis path,
.axis line,
.axis1 path,
.axis1 line {
    fill: none;
    stroke: #E6E7E8;
    shape-rendering: crispEdges;
}

.x.axis path,
.x.axis1 path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.legend-box {
    cursor: pointer;
}

#mouse-tracker {
    stroke: #E6E7E8;
    stroke-width: 1px;
}

.hover-text {
    stroke: none;
    font-size: 30px;
    font-weight: bold;
    fill: #000000;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}


.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.bilosta {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

 .labela {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

rect.bar1:hover {
  fill: #ba141a!important;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
